<% title = 'Despesas da Casa' %>

<h1 class="text-center mb-4">Bem-vindo ao Gerenciador de Despesas da Casa</h1>

<canvas id="expenseChart" width="600" height="400"></canvas>

<style>
  #expenseChart {
    max-width: 600px;
    margin: 20px auto;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<script>
  const monthlyExpenses = JSON.parse('<%- JSON.stringify(monthlyExpenses || {}) %>')

  console.log("Despesas Mensais:", monthlyExpenses)

  if (Object.keys(monthlyExpenses).length > 0) {
    const labels = Object.keys(monthlyExpenses)
    const data = Object.values(monthlyExpenses)

    const backgroundColors = [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ]

    const borderColors = [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ]

    while (backgroundColors.length < data.length) {
      backgroundColors.push('rgba(0, 0, 0, 0.2)')
      borderColors.push('rgba(0, 0, 0, 1)')
    }

    const ctx = document.getElementById('expenseChart').getContext('2d')
    const expenseChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'Despesas por Mês',
          data: data,
          backgroundColor: backgroundColors,
          borderColor: borderColors,
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        title: {
          display: true,
          text: 'Despesas Mensais'
        }
      }
    })
  } else {
    console.log("Nenhuma despesa encontrada para exibir no gráfico.")
  }
</script>

<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="/?page=<%= currentPage - 1 %>&limit=10">Anterior</a>
  <% } %>
  <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="/?page=<%= i %>&limit=10"><%= i %></a>
  <% } %>
  <% if (currentPage < totalPages) { %>
    <a href="/?page=<%= currentPage + 1 %>&limit=10">Próxima</a>
  <% } %>
</div>
